@tailwind base;
@tailwind components;
@tailwind utilities;

.yellowscale {
 background:linear-gradient(to right, #ffe9c9,#ffd260);
}

.TextFieldInputContainer input {
    height: 2.5rem;
    flex: 1 1 auto;
    border-radius: 0.375rem;
    background-color: initial;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.Button.GradientButton {
    height: auto;
    width: auto;
}

.TextGradient {
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(135deg,#0e73cc 1.93%,#624bbb 14.86%,#ef4444 48.09%,#f97316 77.82%,#fde047 97.3%);
}

.TextFieldInputContainer {
    position: relative;
    display: flex;
    height: 2.5rem;
    width: 100%;
    align-items: center;
    border-radius: 0.375rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(31 41 55/var(--tw-text-opacity));
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    --tw-ring-opacity: 1;
    --tw-ring-color: linear-gradient(to right, #ffe9c9,#ffd260) /var(--tw-ring-opacity);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.Button.ButtonPrimary {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 /var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(129 140 248/var(--tw-ring-opacity));
}

.Button .GradientButton {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,var(--tw-gradient-stops))!important;
    --tw-gradient-from: #ffe9c9;
    --tw-gradient-to: rgba(129,140,248,0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: #ffd260;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-weight: 700;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
}

.ButtonLarge {
    padding: 0.75rem 1.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}


.PreviewButton {
    transition: all .15s;
    border: 3px solid transparent;
    background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#3b82f6,#c084fc,#ef4444,#f97316,#fde047);
    background-origin: border-box;
    background-clip: content-box,border-box;
    box-shadow: inset 2px 1000px 1px #0a0a0a;
}

.items-center {
    align-items: center;
}

.TextFieldInputContainer input {
    height: 2.5rem;
    flex: 1 1 auto;
    border-radius: 0.375rem;
    background-color: initial;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.ButtonNormal {
    height: 2.5rem;
    padding: 0.5rem 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
}

.Container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.gsCZvX {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.eHzFx {
    transform-style: preserve-3d;
}

.vsc-controller {
    white-space: normal;
    user-select: none;
}